* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 200px 0;
  background-color: black;
}

footer p {
  font-family: "Roboto";
  color: white;
  font-size: 30px;
}
