/*----------------Footer mobile first----------------*/
footer {
  background-color: #7a7272;
  width: 100%; 
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 10px; 
  margin: 20px 0; 
}

.socialIcons a {
  padding: 10px;
  background-color: #e1dac8;
  margin: 15px;
  border-radius: 50%;
  justify-content: center;
  transition: background-color 0.3s ease, transform 0.3s ease;}

.socialIcons a:hover {
  transform: scale(1.2);
}

.socialIcons a i {
  font-size: 30px;
  color: #7a7272;
  transition: color 0.3s ease;
}
.socialIcons a:hover i {
  color: #6b5b4f; 
}


.footerBottom {
  background-color: #7a7272;
  padding: 20px 10px; 
  text-align: center;
}

.footerBottom p {
  color: #e1dac8;
  font-size: 12px; 
  font-family: "Inknut Antiqua", serif;
}

.footerBottom .designer {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  opacity: 0.9;
  font-family: "Inknut Antiqua", serif;
}

/*----------------Desktop-------------*/
@media (min-width: 800px) {
  footer {
    padding: 50px 10%; 
  }

  .socialIcons {
    gap: 20px;
  }

  .socialIcons a {
    padding: 25px;
  }

  .socialIcons a i {
    font-size: 3em;
  }

  .footerBottom p {
    font-size: 16px; 
  }

  .footerBottom .designer {
    font-size: 18px; 
  }
}
