* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header {
  padding: 0 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.side_navn h1 {
  font-size: 30px;
  margin-right: 50px;
  color: #6b5b4f;
  font-family: "Inknut Antiqua", serif;
}

/* Normal menu (desktop) */
.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  font-size: 18px;
  color: #6b5b4f;
  transition: color 0.3s ease;
  font-family: "Inknut Antiqua", serif;
}

.menu a:hover {
  color: #c2b098;
}

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #333333;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #ffffff;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}

/*----------Desktop Styles----------*/
@media (min-width: 800px) {
  .logo img {
    width: 120px;
    height: 120px;
    margin: 10px;
  }

  .side_navn h1 {
    font-size: 40px;
    margin-left: 450px;
    color: #6b5b4f;
  }

  .burger {
    display: none;
  }

  .menu {
    display: flex;
  }

  .menu a {
    font-size: 35px;
    padding: 5px 30px; /* Juster luft omkring links på desktop */
  }
}
