* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.header {
  padding: 0 20px;
  height: 100px;
}

nav {
  background-color: #e1dac8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.side_navn h1 {
  font-size: 44px;
  color: #6b5b4f;
  margin: 0;
  font-family: "Inknut Antiqua", serif;
}

.menu {
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  font-size: 44px;
  color: #6b5b4f;
  transition: color 0.3s ease;
  font-family: "Inknut Antiqua", serif;
}

.menu a:hover {
  color: #c2b098;
}

/*----------Hamburger ikonet-------*/

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #5b5048;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

@media screen and (max-width: 800px) {
  .logo img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  .side_navn h1 {
    font-size: 30px;
    color: #6b5b4f;
  }

  .menu {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #cbbca9;
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 24px;
  }
}
