/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*------------------Hjem siden------------------*/
/*------------------Mobil version------------------*/

/*------------------Hero Section-------------------*/
.hero_section {
  padding: 300px 20px;
  background-color: #e1dac8;
  text-align: left;
}

.hero_section h1 {
  font-size: 50px;
  font-family: "Inknut Antiqua", serif;
  color: #5b5048;
}

.hero_section h2 {
  font-size: 20px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  margin: 10px 0 0;
  color: #5b5048;
}

.hero_section h3 {
  font-size: 15px;
  font-family: "Inknut Antiqua", serif;
  font-weight: 300;
  margin: 10px 0 0;
  color: #5b5048;
}
#mouse_icon {
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
}

/*-----------------Om Mig Sektion------------------*/
.grid_1-1 {
  display: flex;
  flex-direction: column;
  background-color: #5b5048;
  padding: 20px;
  gap: 20px;
}

.grid_1-1 h1 {
  font-size: 50px;
  font-family: "Inknut Antiqua", serif;
  margin-bottom: 10px;
  color: #e1dac8;
}

.grid_1-1 p {
  font-size: 20px;
  font-family: "Inknut Antiqua", serif;
  line-height: 1.6;
  color: #e1dac8;
}

.grid_1-1 img {
  width: 100%;
  max-width: 300px;
  border-radius: 550px;
}

/*---------------------Desktops---------------------*/
@media (min-width: 800px) {
  /* Hero Section */
  .hero_section {
    padding: 700px 20px;
  }

  .hero_section h1 {
    font-size: 270px;
  }

  .hero_section h2 {
    font-size: 150px;
  }

  .hero_section h3 {
    font-size: 80px;
  }

  /* Om Mig Sektion */
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 2700px;
    margin: 0 auto;
    padding: 0 250px;
    height: 1400px;
  }

  .grid_1-1 h1 {
    font-size: 150px;
  }
  .grid_1-1 p {
    font-size: 35px;
  }

  .grid_1-1 img {
    max-width: 750px;
  }

  #mouse_icon {
    bottom: -80px;
    left: 50%;
  }
}
/*------------------Projekt siden------------------*/
/*------------------Mobil version------------------*/

/*------------------CV siden------------------*/
/*------------------Mobil version------------------*/
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.intro img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 15px;
}

.intro-tekst {
  color: #5b5048;
}

.intro-tekst h1 {
  font-size: 1.5rem;
  font-family: "Inknut Antiqua", serif;
  margin: 0;
}

.intro-tekst p {
  margin: 5px 0;
}

section {
  margin-bottom: 30px;
  padding: 0 15px;
  color: #5b5048;
  font-family: "Inknut Antiqua", serif;
}

section h1,
section h2 {
  margin-top: 0;
  line-height: 1.6;
  font-family: "Inknut Antiqua", serif;
}

section p,
section ul {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Inknut Antiqua", serif;
}

/*------------------Desktop version------------------*/

@media (min-width: 768px) {
  .intro {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
  }

  .intro img {
    width: 500px;
    height: 500px;
    margin-right: 20px;
  }

  .intro-tekst {
    text-align: left;
    font-size: 55px;
  }

  .intro-tekst p {
    margin: 20px 0;
  }

  section {
    margin-bottom: 30px;
    padding: 0 45px;
    color: #5b5048;
    max-width: 1900px;
  }

  section h1,
  section h2 {
    font-size: 40px;
    line-height: 1.6;
  }

  section p,
  section ul {
    font-size: 30px;
    line-height: 1.6;
  }
}
