/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/*------------------Mobil version------------------*/

@media (max-width: 768px) {
  body {
    font-size: 50px; /*------Mindre skrifttype-------*/
    line-height: 1.4;
    margin: 0;
    padding: 0;
  }
}
